@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:wght@200;300;400;500;600;700&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --black--rgb: 2, 23, 27;
  --black: rgb(var(--black--rgb));
  --dark-green: #074d50;
  --green--rgb: 29, 99, 92;
  --green: rgb(var(--green--rgb));
  --turquoise--rgb: 20, 231, 198;
  --turquoise: rgb(var(--turquoise--rgb));
  --taupe--rgb: 218, 237, 233;
  --taupe: rgb(var(--taupe--rgb));
}

/* ************************************** */
*:not(head, table, tbody, tfoot, thead, tr, td, th, script),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  padding: 16px 16px 0px 16px;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
}

/* Debuggage des images */
*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/* Couleurs texte */
h2,
h3 {
  color: #fff;
}

p {
  color: var(--taupe);
}

.page-layout {
  flex-direction: row;
  gap: 40px;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.big-title {
  font-family: "Audiowide", sans-serif;
  font-size: 15rem;
  color: #fff;
  letter-spacing: 1.8rem;
  text-shadow: 0 0 0.8rem #7ed4d4, 0 0 0.5rem #7ed4d4;
}

.little-title {
  font-family: "Fira sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: var(--turquoise);
  text-transform: uppercase;
  letter-spacing: 1.8rem;
}

h2,
h3 {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 0.125em rgba(197, 253, 242, 0.75), 0 0 0.0625em #7ed4d4;
}

h3 {
  font-size: 2.6rem;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 0.25em rgba(197, 253, 242, 0.75), 0 0 0.125em #7ed4d4;
}

p {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 300;
}

.header {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding-top: 32px;
}
.header .hero-container {
  background: url(../images/moon.svg) no-repeat center;
  height: 392px;
  align-items: center;
}
.header .hero-container h1 {
  margin-top: 92px;
  text-align: center;
}
.header .intro {
  margin-top: 64px;
  align-items: center;
  text-align: center;
}
.header .intro p {
  flex-direction: row;
  max-width: 80%;
  margin-bottom: 24px;
}
.header .intro :last-of-type {
  display: inline;
}
.header .intro :last-of-type a {
  text-decoration: none;
  color: var(--turquoise);
  transition: text-shadow 0.2s ease-out;
  display: inline;
}
.header .intro :last-of-type a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}

aside {
  flex: 1 20%;
  max-width: 320px;
  border: 1px solid var(--green);
  padding: 16px;
  margin-left: 16px;
  /* A virer après */
  position: sticky;
  top: 0;
  height: 895px;
}
aside nav {
  padding-bottom: 40px;
}
aside .main-menu {
  gap: 40px;
}
aside .main-menu .main-menu-link {
  gap: 8px;
}
aside .main-menu .main-menu-link a:not(.sub-menu-link a) {
  text-decoration: none;
  color: var(--taupe);
  transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
aside .main-menu .main-menu-link a:hover:not(.sub-menu-link a) {
  text-shadow: 0 0 0.5em var(--turquoise);
}
aside .main-menu .sub-menu {
  gap: 8px;
}
aside .main-menu .sub-menu-link a {
  text-decoration: none;
  color: var(--turquoise);
  transition: text-shadow 0.2s ease-out;
  position: relative;
}
aside .main-menu .sub-menu-link a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}
aside .main-menu .sub-menu-link a:hover::before {
  content: "|";
  position: absolute;
  height: 24px;
  top: 0;
  left: -10px;
}
aside .check-html-container {
  border-top: 1px solid var(--green);
  flex-direction: row-reverse;
  justify-content: start;
  padding: 16px 0px;
  gap: 16px;
}
aside .check-html-container input {
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer;
}
aside .check-html-container label {
  color: var(--taupe);
}

main {
  flex: 1 0;
  max-width: 80%;
  border-top: 1px solid var(--green);
}
main h2 {
  margin-top: 24px;
}
main p {
  margin-top: 24px;
  margin-bottom: 92px;
  opacity: 0.8;
  font-size: 2rem;
  display: inline;
  max-width: 60%;
}
main p code {
  display: inline;
  background: rgba(var(--taupe--rgb), 0.2);
  padding: 3px;
  border-radius: 3px;
}
main .breadcrumb .h3-row {
  flex-direction: row;
  justify-content: space-between;
}
main .breadcrumb .h3-row .triangle-container {
  border: 1px solid var(--green);
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-out;
}
main .breadcrumb .h3-row .triangle-container span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}
main .breadcrumb .h3-row .triangle-container:hover {
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .breadcrumb .basic-row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}
main .breadcrumb .basic-row .dark-container {
  flex: 1 0;
  max-height: 324px;
  padding: 24px;
  background-color: var(--black);
  border-radius: 4px;
  min-width: 633px;
}
main .breadcrumb .basic-row .dark-container div {
  border: 2px dashed var(--green);
  border-radius: 2px;
  padding: 22px;
  position: relative;
}
main .breadcrumb .basic-row .dark-container div span {
  color: white;
}
main .breadcrumb .basic-row .dark-container div:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .breadcrumb .basic-row .dark-container .item-container {
  flex-direction: row;
  gap: 56px;
}
main .breadcrumb .basic-row .dark-container .breadcrumb__item {
  flex: 1 0;
}
main .breadcrumb .basic-row .dark-container .breadcrumb::before {
  content: "breadcrumb";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .breadcrumb .basic-row .dark-container .breadcrumb__list::before {
  content: "breadcrumb__list";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .breadcrumb .basic-row .dark-container .breadcrumb__item::before {
  content: "breadcrumb__item";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .breadcrumb .basic-row .dark-container .breadcrumb__link::before {
  content: "breadcrumb__link";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .breadcrumb .note-card {
  flex: 1 324px;
  position: relative;
  max-width: 324px;
  height: 148px;
  background: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
}
main .breadcrumb .note-card .note {
  display: inline-block;
  padding: 36px 10px 10px 10px;
  color: #533f2d;
  font-weight: 300;
  font-size: 1.8rem;
  /* position: relative; */
}
main .breadcrumb .note-card .note strong {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
main .breadcrumb .note-card:before {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: #c6bd8c;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 16px 0px;
}
main .button .h3-row {
  margin-top: 92px;
  flex-direction: row;
  justify-content: space-between;
}
main .button .h3-row .triangle-container {
  border: 1px solid var(--green);
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-out;
}
main .button .h3-row .triangle-container span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}
main .button .h3-row .triangle-container:hover {
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .button .basic-row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}
main .button .dark-container {
  flex: 1 0;
  max-height: 324px;
  padding: 24px;
  background-color: var(--black);
  border-radius: 4px;
}
main .button .dark-container div {
  position: relative;
}
main .button .dark-container .button_div {
  max-width: 342px;
  min-width: 342px;
  border: 2px dashed var(--green);
  border-radius: 2px;
  flex-direction: row;
  padding: 16px;
  gap: 32px;
  /* position: relative; */
}
main .button .dark-container .button_div div {
  border: 2px dashed var(--green);
  border-radius: 2px;
  padding: 16px;
  color: white;
}
main .button .dark-container div:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .button .dark-container .button_div::before {
  content: "button";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .button .dark-container .button__prepend::before {
  content: "button__prepend";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .button .dark-container .button__body::before {
  content: "button__body";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .button .dark-container .button__append::before {
  content: "button__append";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .button .note-card {
  flex: 1 324px;
  position: relative;
  max-width: 324px;
  height: 196px;
  background: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
}
main .button .note-card .note {
  display: inline-block;
  padding: 36px 10px 10px 10px;
  color: #533f2d;
  font-weight: 300;
  font-size: 1.8rem;
  /* position: relative; */
}
main .button .note-card .note strong {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
main .button .note-card code {
  display: inline;
}
main .button .note-card:before {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: #c6bd8c;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 16px 0px;
}
main .card-1 .h3-row {
  margin-top: 92px;
  flex-direction: row;
  justify-content: space-between;
}
main .card-1 .h3-row .triangle-container {
  border: 1px solid var(--green);
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-out;
}
main .card-1 .h3-row .triangle-container span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}
main .card-1 .h3-row .triangle-container:hover {
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .card-1 .basic-row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}
main .card-1 .dark-container {
  flex: 1 0;
  max-height: 324px;
  padding: 24px;
  background-color: var(--black);
  border-radius: 4px;
  max-height: 1256px;
  max-width: 1025px;
  flex: 1 0;
}
main .card-1 .dark-container div {
  border: 2px dashed var(--green);
  border-radius: 2px;
  padding: 16px;
  position: relative;
}
main .card-1 .dark-container div:hover {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}
main .card-1 .dark-container .card {
  max-width: 515px;
  min-width: 515px;
  gap: 16px;
  color: var(--taupe);
}
main .card-1 .dark-container .card .card__image {
  height: 250px;
  background-color: rgba(205, 205, 205, 0.2);
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(-45deg, var(--turquoise), black 1px, transparent 1px, transparent 14px);
}
main .card-1 .dark-container .card .card__title {
  font-weight: bold;
  font-size: 2rem;
}
main .card-1 .dark-container .card .card__subtitle {
  font-weight: bold;
  font-size: 1.6rem;
}
main .card-1 .dark-container .card .card__copy p {
  opacity: 1;
  max-width: 100%;
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 300;
}
main .card-1 .dark-container .card .button_card_div {
  max-width: 88px;
}
main .card-1 .dark-container .card::before {
  content: "card";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__aside::before {
  content: "card__aside";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__figure::before {
  content: "card_figure";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__image::before {
  content: "card__image";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__header::before {
  content: "card__header";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__title::before {
  content: "card__title";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__subtitle::before {
  content: "card__subtitle";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__body::before {
  content: "card__body";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__copy::before {
  content: "card__copy";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__footer::before {
  content: "card__footer";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .card__actions::before {
  content: "card__actions";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .dark-container .button_card_div::before {
  content: "button";
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}
main .card-1 .cheat_div {
  flex: 1 324px;
  max-width: 324px;
}

.footer {
  background: url(../images/moon-surface.svg) no-repeat center;
  background-position: bottom;
}
.footer .footer-item-container {
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 40px;
}
.footer .footer-item-container a {
  width: 256px;
  padding: 16px;
  margin-bottom: 100px;
  text-decoration: none;
  color: var(--dark-green);
  background-color: var(--black);
  align-items: center;
  border: 1px solid var(--turquoise);
}
.footer .footer-item-container a span {
  padding: 8px;
  border-bottom: 1px solid var(--dark-green);
}
.footer .footer-item-container a span .elements {
  width: 200px;
  margin: 32px;
}

/*# sourceMappingURL=styles.css.map */
