@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
}

.big-title {
  font-family: "Audiowide", sans-serif;
  font-size: 15rem;
  color: #fff;
  letter-spacing: 1.8rem;
  text-shadow: 0 0 0.8rem #7ed4d4, 0 0 0.5rem #7ed4d4;
}

.little-title {
  font-family: "Fira sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: var(--turquoise);
  text-transform: uppercase;
  letter-spacing: 1.8rem;
}

h2,
h3 {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 0.125em rgba(197, 253, 242, 0.75), 0 0 0.0625em #7ed4d4;
}

h3 {
  font-size: 2.6rem;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 0.25em rgba(197, 253, 242, 0.75), 0 0 0.125em #7ed4d4;
}

p {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 300;
}
