.footer {
  background: url(../images/moon-surface.svg) no-repeat center;
  background-position: bottom;
  .footer-item-container {
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 40px;
    a {
      width: 256px;
      padding: 16px;
      margin-bottom: 100px;
      text-decoration: none;
      color: var(--dark-green);
      background-color: var(--black);
      align-items: center;
      border: 1px solid var(--turquoise);
      span {
        padding: 8px;
        border-bottom: 1px solid var(--dark-green);
        .elements {
          width: 200px;
          margin: 32px;
        }
      }
    }
  }
}
