.header {
  @include globalMargin;
  padding-top: 32px;
  .hero-container {
    background: url(../images/moon.svg) no-repeat center;
    height: 392px;
    align-items: center;
    h1 {
      margin-top: 92px;
      text-align: center;
    }
  }
  .intro {
    margin-top: 64px;
    align-items: center;
    text-align: center;
    p {
      flex-direction: row;
      max-width: 80%;
      margin-bottom: 24px;
    }
    :last-of-type {
      display: inline;
      a {
        @include greenLink;
        display: inline;
      }
      a:hover {
        @include greenLinkHover;
      }
    }
  }
}


/* Changes from test branch */
