main {
  flex: 1 0;
  max-width: 80%;
  border-top: 1px solid var(--green);
  h2 {
    margin-top: 24px;
  }
  p {
    margin-top: 24px;
    margin-bottom: 92px;
    opacity: 0.8;
    font-size: 2rem;
    display: inline;
    max-width: 60%;
    code {
      display: inline;
      background: rgba(var(--taupe--rgb), 0.2);
      padding: 3px;
      border-radius: 3px;
    }
  }
  .breadcrumb {
    .h3-row {
      @include h3RowAndTriangle;
    }
    .basic-row {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 32px;
      .dark-container {
        @include darkContainer;
        min-width: 633px;
        div {
          @include greenDashed;
          padding: 22px;
          position: relative;
          span {
            color: white;
          }
        }
        div:hover {
          @include greenLight;
        }
        .item-container {
          flex-direction: row;
          gap: 56px;
        }
        .breadcrumb__item {
          flex: 1 0;
        }

        .breadcrumb::before {
          @include greenTitleLeft("breadcrumb");
        }
        .breadcrumb__list::before {
          @include greenTitleLeft("breadcrumb__list");
        }

        .breadcrumb__item::before {
          @include greenTitleLeft("breadcrumb__item");
        }
        .breadcrumb__link::before {
          @include greenTitleLeft("breadcrumb__link");
        }
      }
    }
    .note-card {
      @include noteCard(148px);
    }
    .note-card:before {
      @include noteBefore;
    }
  }
  .button {
    .h3-row {
      margin-top: 92px;
      @include h3RowAndTriangle;
    }
    .basic-row {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 32px;
    }
    .dark-container {
      @include darkContainer;
      div {
        position: relative;
      }
      .button_div {
        max-width: 342px;
        min-width: 342px;
        @include greenDashed;
        flex-direction: row;
        padding: 16px;
        gap: 32px;
        /* position: relative; */
        div {
          @include greenDashed;
          padding: 16px;
          color: white;
        }
      }
      div:hover {
        @include greenLight;
      }
      .button_div::before {
        @include greenTitleLeft("button");
      }
      .button__prepend::before {
        @include greenTitleLeft("button__prepend");
      }
      .button__body::before {
        @include greenTitleLeft("button__body");
      }
      .button__append::before {
        @include greenTitleLeft("button__append");
      }
    }
    .note-card {
      @include noteCard(196px);
      code {
        display: inline;
      }
    }
    .note-card:before {
      @include noteBefore;
    }
  }
  .card-1 {
    .h3-row {
      margin-top: 92px;
      @include h3RowAndTriangle;
    }
    .basic-row {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 32px;
    }
    .dark-container {
      @include darkContainer;
      max-height: 1256px;
      max-width: 1025px;
      flex: 1 0;
      div {
        @include greenDashed;
        padding: 16px;
        position: relative;
      }
      div:hover {
        @include greenLight;
      }
      .card {
        max-width: 515px;
        min-width: 515px;
        gap: 16px;
        color: var(--taupe);
        .card__image {
          height: 250px;
          background-color: rgba(205, 205, 205, 0.2);
          background-size: 20px 20px;
          background-image: repeating-linear-gradient(
            -45deg,
            var(--turquoise),
            black 1px,
            transparent 1px,
            transparent 14px
          );
        }
        .card__title {
          font-weight: bold;
          font-size: 2rem;
        }
        .card__subtitle {
          font-weight: bold;
          font-size: 1.6rem;
        }
        .card__copy p {
          opacity: 1;
          max-width: 100%;
          margin: 0px;
          font-size: 1.8rem;
          font-weight: 300;
        }
        .button_card_div {
          max-width: 88px;
        }
      }
      .card::before {
        @include greenTitleLeft("card");
      }
      .card__aside::before {
        @include greenTitleLeft("card__aside");
      }
      .card__figure::before {
        @include greenTitleLeft("card_figure");
      }
      .card__image::before {
        @include greenTitleLeft("card__image");
      }
      .card__header::before {
        @include greenTitleLeft("card__header");
      }
      .card__title::before {
        @include greenTitleLeft("card__title");
      }

      .card__subtitle::before {
        @include greenTitleLeft("card__subtitle");
      }
      .card__body::before {
        @include greenTitleLeft("card__body");
      }
      .card__copy::before {
        @include greenTitleLeft("card__copy");
      }
      .card__footer::before {
        @include greenTitleLeft("card__footer");
      }

      .card__actions::before {
        @include greenTitleLeft("card__actions");
      }
      .button_card_div::before {
        @include greenTitleLeft("button");
      }
    }
    .cheat_div {
      flex: 1 324px;
      max-width: 324px;
    }
  }
}
