@mixin globalMargin {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

@mixin greenLink {
  text-decoration: none;
  color: var(--turquoise);
  transition: text-shadow 0.2s ease-out;
}

@mixin greenLinkHover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise);
}

@mixin whiteLink {
  text-decoration: none;
  color: var(--taupe);
  transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

@mixin WhiteLinkHover {
  text-shadow: 0 0 0.5em var(--turquoise);
}

@mixin navLine {
  content: "|";
  position: absolute;
  height: 24px;
  top: 0;
  left: -10px;
}

@mixin triangleContainer {
  border: 1px solid var(--green);
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-out;
}

@mixin triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}

@mixin triangleContainerHover {
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}

@mixin greenDashed {
  border: 2px dashed var(--green);
  border-radius: 2px;
}

@mixin greenLight {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
}

@mixin greenTitleLeft($content) {
  content: $content;
  position: absolute;
  top: -11px;
  left: 8px;
  z-index: 10;
  color: var(--turquoise);
  background-color: var(--black);
  font-size: 1.2rem;
}

@mixin h3RowAndTriangle {
  flex-direction: row;
  justify-content: space-between;
  .triangle-container {
    @include triangleContainer;
    span {
      @include triangle;
    }
  }
  .triangle-container:hover {
    @include triangleContainerHover;
  }
}

@mixin darkContainer {
  flex: 1 0;
  max-height: 324px;
  padding: 24px;
  background-color: var(--black);
  border-radius: 4px;
}

@mixin basicRow {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}

@mixin noteBefore {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: #c6bd8c;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 16px 0px;
}

@mixin note {
  display: inline-block;
  padding: 36px 10px 10px 10px;
  color: #533f2d;
  font-weight: 300;
  font-size: 1.8rem;
  /* position: relative; */
  strong {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
}

@mixin noteCard($height) {
  flex: 1 324px;
  position: relative;
  max-width: 324px;
  height: $height;
  background: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
  .note {
    @include note;
  }
}
