aside {
  flex: 1 20%;
  max-width: 320px;
  border: 1px solid var(--green);
  padding: 16px;
  margin-left: 16px; /* A virer après */
  position: sticky;
  top: 0;
  height: 895px;
  nav {
    padding-bottom: 40px;
  }
  .main-menu {
    gap: 40px;
    .main-menu-link {
      gap: 8px;
    }
    .main-menu-link a:not(.sub-menu-link a) {
      @include whiteLink;
    }
    .main-menu-link a:hover:not(.sub-menu-link a) {
      @include WhiteLinkHover;
    }
    .sub-menu {
      gap: 8px;
    }
    .sub-menu-link a {
      @include greenLink;
      position: relative;
    }
    .sub-menu-link a:hover {
      @include greenLinkHover;
    }
    .sub-menu-link a:hover::before {
      @include navLine;
    }
  }
  .check-html-container {
    border-top: 1px solid var(--green);
    flex-direction: row-reverse;
    justify-content: start;
    padding: 16px 0px;
    gap: 16px;
    input {
      width: 20px;
      height: 20px;
      background-color: red;
      cursor: pointer;
    }
    label {
      color: var(--taupe);
    }
  }
}
